.logo-name {
  font-family: 'Norican', cursive;
  font-size: 24px;
  padding-left: 10px;
}

<<<<<<< HEAD
i {
  font-size: 24px;
  padding-right: 10px;
  padding-left: 10px;
}

.logo-img {
  font-size: 28px;
  border-right: 1px solid black;
  height: 30px;
=======
.search-container i {
  cursor: pointer;
}

.search-logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Norican', cursive;
  font-size: 1.25rem;
  margin-left: 10px;
}

.input-search {
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 200px;
  background: #f9f9f9;
  padding-top: 4px;
>>>>>>> df12b659a68204e537d25439c61c60568faf2bea
}

.logo {
  display: flex;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 60px;
}

.icons {
  display: flex;
}

.icon {
  padding-left: 5px;
  padding-right: 5px;
}

.search {
  padding-right: 25px;
  padding-left: 30px;
  text-align: center;
  border: 1px solid #f5f5f5;
  font-size: 13px;
  color: silver;
}